.game_board{
	width: 650px;
	height: 1250px;
}


#box1{
	width: 200px;
	height: 200px;
	border-right: 10px solid black;
	border-bottom: 10px solid black;
	float: left;
	background-color: #fcd59c;
}

#box2{
	width: 200px;
	height: 200px;
	border-bottom: 10px solid black;
	float: left;
	background-color: #cc7722;
}

#box3{
	width: 200px;
	height: 200px;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
	float: left;
	background-color: #fcd59c;
}

#box4{
		width: 200px;
	height: 200px;
	border-right: 10px solid black;
	border-bottom: 10px solid black;
	float: left;
	background-color: #cc7722;
}

#box5{
		width: 200px;
	height: 200px;
	border-right: 10px solid black;
	border-bottom: 10px solid black;
	float: left;
	background-color: #fcd59c;
}

#box6{
		width: 200px;
	height: 200px;
	
	border-bottom: 10px solid black;
	float: left;
	background-color: #cc7722;
}

#box7{
		width: 200px;
	height: 200px;
	border-right: 10px solid black;
	float: left;
	background-color: #fcd59c;

}

#box8{
		width: 200px;
	height: 200px;
	border-right: 10px solid black;
	float: left;
	background-color: #cc7722;

}

#box9{
		width: 200px;
	height: 200px;
	float: left;
	background-color: #fcd59c;
}

.typeA:active{
	background-color: rgba(0,0,0,.75);
	height: 200px;
	width: 200px;
}

.typeB:active{
	background-color: rgba(0,0,0,.25);
	height: 200px;
	width: 200px;
}


.clearfix {
	overflow: auto;
}

.Sun {
	background-image: url('the_sun.png');
	height: 180px;
	width: 180px;
	background-repeat: no-repeat;
}

.Moon{
	background-image: url('the_moon.png');
	height: 180px;
	width: 180px;
	background-repeat: no-repeat;

}





