@import url(http://fonts.googleapis.com/css?family=Bevan);


.game_board{
	width: 700px;
	height: 700px;
}

h1{
	text-decoration: underline;
	text-align: left;
	font-family: Bevan;
	color: #bf5fff;
	font-size: 50pt;
	background: rgba(0,0,40,0.75);
}


.typeA{
	width: 200px;
	height: 200px;
	border: 10px solid black;
	
	float: left;
	background-color: #fcd59c;
}

.typeB{
	width: 200px;
	height: 200px;
	border: 10px solid black;
	float: left;
	background-color: #cc7722;
}



.typeA:active{
	background-color: rgba(0,0,0,.75);
	height: 200px;
	width: 200px;
}

.typeB:active{
	background-color: rgba(0,0,0,.25);
	height: 200px;
	width: 200px;
}


.clearfix {
	overflow: auto;
}

.Sun {
	background-image: url('the_sun.png');
	height: 180px;
	width: 180px;
	background-repeat: no-repeat;
}

.Moon{
	background-image: url('the_moon.png');
	height: 180px;
	width: 180px;
	background-repeat: no-repeat;

}

.newGame_btn{

	font-family: Verdana;
	border: 5px solid black;
	overflow: hidden;
	position: absolute;

}





